rhtml {
  head {
    title { "Hello world!" }
  }
  body {
    header {
      h1 { "Hello" }
      h2 { "This is my sample webpage." }
    }
    
    main {
      p { "How do you like my page?" }
    }
  } body
}
